a:active,a:hover{
	text-decoration: none;
}
/*头部样式*/
.header{
	text-align: center;
	padding: 10px;
	border: 1px solid #ccc;
}
/*主体样式*/
.main{
	margin-top: 5px;
	padding: 5px;
}
.main>h4{
	margin-bottom: 5px;
		text-align: center;
}
.table-responsive thead tr>th{
	font-weight: bold;
}

/*管理部分*/
.apply{
background-color: #59B459;
}
.remove{
	background-color: #D44B47;
}
.choice{
	text-align: center;
}
.choice>a{
	display: inline-block;
	margin: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	line-height: 100px;
	text-align: center;
	font-size: 20px;
	color: white;
}
/*预留时间*/
.time{
	height: 30px;
	text-align: center;
}
/*底部部分*/
.footer{
	position: absolute;
	height: 40px;
	border: 1px solid silver;
	width: 100%;
	bottom: 0;
	text-align: center;
	line-height: 40px;
}