.header{
	margin-bottom: 20px;
}
h3{
	text-align: center;
}
#no{
	margin-right: 0;
	margin-left: 0;
}
.form-horizontal{
	margin: 20px 0;
}
#zhi{
	margin-top: 10px;
}
/*重新定义底部样式*/
html,body{
	height: 100%;
}
.all{
	position: relative;
	height: auto;
	min-height: 100%;
	padding-bottom: 40px;
}
.footer{
	position: absolute;
	height: 40px;
	border: 1px solid silver;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 40px;
}

/*设置container的样式 媒体查询*/
@media (min-width:992px) {
	.container {
		width: 550px;
		padding-top: 20px;
		border: 1px solid silver;
		border-radius: 20px;
		
	}
	.main{
		margin-top: 80px;
	}
}